<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Jonathan Ben-Ammi">
	<title>Duck Dashboard</title>
	<meta name="description" content="This is a Mongoose assignment for coding dojo">
	<meta name="description" content="This is a coding dojo assignment for learning MONGO">
	<link rel="stylesheet" type="text/css" href="/css/materialize.css">
	<script type ="text/javascript" src="/js/jquery-2.2.3.js"></script>
	<script type ="text/javascript" src="/js/jquery-ui.js"></script>
	<script type ="text/javascript" src="/js/materialize.js"></script>
</head>
<body>
	<div class="container">
		<h3 class="center">Welcome to Duck Dashboard!</h3>
		<p class="center"><a href="/ducks/new"><button class="btn waves-effect waves-light">Add a New Duck</button></a></p>
		<div class="divider"></div>
		<div class="row">
			<% for(var duck in ducks){ %>
			<div class="col s3">
				<p class="center">Name: <%= ducks[duck].name %></p>
				<p class="center">Type: <%= ducks[duck].type %></p>
				<p class="center"><a href="/ducks/<%= ducks[duck]._id %>"><button class="btn waves-effect waves-light">View</button></a></p>
				<p class="center"><a href="/ducks/<%= ducks[duck]._id %>/edit"><button class="btn waves-effect waves-light">Edit</button></a></p>
				<form action="/ducks/<%= ducks[duck]._id %>/destroy" method="post">
					<p class="center"><button class="btn waves-effect waves-light" type="submit" name="action">Remove</button></p>
				</form>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html>